.env
.env.backup
.env.production
public/logo/
public/uploads/
/public/blog/*
!/public/blog/default_thumbnail.png
/vendor
/node_modules
/public/hot
/public/storage
/storage/framework/views/*
/storage/*.key
/storage/pail
/.phpunit.cache
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/linkedin-cookies.json
/public/linkedin_debug.png